<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agoravai"
        tools:targetApi="31">
        <activity
            android:name=".EVENTOUSUARIO"
            android:exported="false" />
        <activity
            android:name=".EVENTOFUNCIONARIO"
            android:exported="false" />
        <activity
            android:name=".adicionarObra"
            android:exported="false" />
        <activity
            android:name=".edicaoObra"
            android:exported="false" />
        <activity
            android:name=".obrasVisitante"
            android:exported="false" />
        <activity
            android:name=".obrasEspaco"
            android:exported="false" />
        <activity
            android:name=".HomeFuncionario"
            android:exported="false" />
        <activity
            android:name=".loginfuncionario"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CrudObras" />
        <activity
            android:name=".AddEditObraActivity"
            android:exported="true" />
        <activity android:name=".Obra" />
        <activity android:name=".ObraAdapter" />
        <activity
            android:name=".AddEditEventActivity"
            android:exported="true" />

        <activity
            android:name=".EventDetailsActivity"
            android:exported="true" />

        <activity
            android:name=".ObraDetailsActivity"
            android:exported="true" />

        <activity
            android:name=".CrudEventos"
            android:exported="true" />

        <activity
            android:name=".CrudEventosVisitante"
            android:exported="true" />

        <activity
            android:name=".EventAdapter"
            android:exported="true" />

        <activity
            android:name=".EventAdapterVisitante"
            android:exported="true" />

        <activity
            android:name=".ObraVisitanteActivity"
            android:exported="true" />

        <activity
            android:name=".ObraVisitanteAdapter"
            android:exported="true" />

        <activity android:name=".AddEditMapaActivity" />
        <activity android:name=".Mapa" />
        <activity android:name=".MapaAdapter" />
        <activity android:name=".AddEditMapaDialogFragment" />
        <activity android:name=".CrudMapa" />

    </application>

</manifest>